---
import { formatYearMonth } from '../../lib/format';
import { toCertificationDetail } from '../../lib/url';

interface Certification {
  slug: string;
  organizer: string;
  name: string;
  result: string;
  acquiredDate: string;
  expiryDate: string | null;
}

interface Props {
  certifications: Certification[];
}

const { certifications } = Astro.props;
---

<ul class="profile-list" data-reveal>
  {certifications.map((certification) => (
    <li class="profile-card">
      <p class="blog-meta">{certification.organizer}</p>
      <strong>
        <a href={toCertificationDetail(certification.slug)}>{certification.name}</a>
      </strong>
      <p>{formatYearMonth(certification.acquiredDate)} {certification.result}</p>
    </li>
  ))}
</ul>
